<h2 mat-dialog-title>Housie rules for January Month End Event:</h2>
<mat-dialog-content class="mat-typography">
    <h3><strong>Here are the prizes that you can claim:</strong></h3>
  <h3><strong>1. Early Five </strong></h3>
  <img src="assets/images/earlyfive.png" style="height: 60%; width: 60%;">
  <p style="margin-top: 2%;"> The ticket with first five numbers dabbed fastest</p>

  <h3><strong>2. Top Line </strong></h3>
  <img src="assets/images/topline.png" style="height: 60%; width: 60%;">
  <p style="margin-top: 2%;"> The ticket with all top row numbers dabbed fastest.</p>

  <h3><strong>3. Middle Line </strong></h3>
  <img src="assets/images/middleline.png" style="height: 60%; width: 60%;">
  <p style="margin-top: 2%;"> The ticket with all middle row numbers dabbed fastest.</p>

  <h3><strong>4. Bottom Line </strong></h3>
  <img src="assets/images/bottomline.png" style="height: 60%; width: 60%;">
  <p style="margin-top: 2%;">The ticket with all bottom row numbers dabbed fastest. </p>

  <h3><strong>4. Full House (2 Winners) </strong></h3>
  <img src="assets/images/fullhouse.png" style="height: 60%; width: 60%;">
  <p style="margin-top: 2%;">The ticket with all the numbers dabbed fastest.</p>

  <h3><strong>NOTE:Winners are chosen based on First Come First Serve, if there is any tie then the prize money will be split among the winners of each Winning Pattern.</strong></h3>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button>
</mat-dialog-actions>